{{! Disqus comments - Configurate before use! }}
<aside class="comments" data-disqus-shortname="yuanliang" data-disqus-identifier="{{post.id}}">
	<div class="container">
		<div class="comments-placeholder">
			<button class="comments-load" type="button">Load comments</button>
			<p class="comments-status">Comments are loaded on demand.</p>
		</div>
		<div id="disqus_thread"></div>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
</aside>
