<main class="content">
    <article class="article-content" role="article" itemscope itemtype="//schema.org/Article">
        <div class="container">
            {{> social-share}}
            {{content}}
            {{> social-share}}
        </div>
    </article>
    {{> author-details}}
    {{> read-more}}
</main>
{{> comments}}
