@font-face {
  font-family: 'PharosLustria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lustria/v4/pVV03LAhqnRi6PONvHzn8wLUuEpTyoUstqEm5AMlJo4.woff')
    format('woff');
}

@font-face {
  font-family: 'PharosLato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff')
    format('woff');
}

body,
html {
  font-family: 'Open Sans', 'PharosLato', sans-serif, 'Microsoft Yahei';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'PharosLustria', serif, 'Microsoft Yahei';
}

.cover .cover-content .cover-headline {
  font-family: 'PharosLustria', serif, 'Microsoft Yahei';
}

.article-item .article-item-headline a,
.pagination .article-item-headline a {
  font-family: 'Open Sans', 'PharosLustria', serif, 'Microsoft Yahei';
}
